.App .button {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  margin: 0 auto !important;
  margin-top: 300px !important;
}
.App .calc {
  width: 100px;
}
